<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="inputFolderName" value="Input"/>
    <add key="inputFilePrefix" value="PassportPage"/>
    <add key="maxInputFileNumber" value="3"/>
    <add key="outputFilePathNname" value="Output/MergedPassport.pdf"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>